<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">To-Do List</h1>
  </div>
  <div class="legal">
    <p>&copy; 2021-2022 Devops. Tous droits réservés.</p>
    
    <div class="legal__links">
      <span>Fait avec <span class="heart">♥</span> pour ceux qui aiment s'organiser.</span>
    </div>
  </div>
</footer>